body {
    text-align:center;
    background:orange;
}
#timerT{
    text-transform:uppercase;
    font: arial;
    text-decoration:underline;
    font-family: Arial, Helvetica, sans-serif;
    color:#fff;
}
#userTimer{
    border:5rem;
}
label{
    font-size:40px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration:underline;
}
input{
    border-radius: 5rem;
    font-size:20px;
}
.btn{
    padding:.58em;
    text-transform:uppercase;
    color:#fff;
    background:linear-gradient(90deg , cyan , dodgerblue);
}
.btn:hover{
    transition : all 0.7s ease-in-out;    
    border:groove 10px midnightblue;
    font-size:35px;
}
.rset{
    padding:.58em;
    text-transform:uppercase;
    color:#fff;
    background:linear-gradient(90deg , cyan , dodgerblue);
}
.rset:hover{
    transition : all 0.7s ease-in-out;    
    border:groove 10px midnightblue;
    font-size:35px;
}
#timer{
    color:black;
    border:solid 5px #fff;
    background:white;
    border-radius:5rem;
    margin-right:500px;
    margin-left:500px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow';
    font-size: 80px;
}
#statue{
    text-transform:uppercase;
    color:red;
    font-family: 'Courier New', Courier, monospace;
    border:solid orangered 10px;
    border-radius:2rem;
    background:white;
    margin-right:700px;
    margin-left:700px;
}
.timeShow{
    color:black;
    border:solid 5px #fff;
    background:white;
    border-radius:5rem;
    margin-right:500px;
    margin-left:500px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 80px;

}
